 .avatar-user {
    border-radius: 50%!important;
}

.avatar {
    display: inline-block;
    overflow: hidden;
    line-height: 1;
    vertical-align: middle;
    background-color: var(--color-avatar-bg);
    border-radius: 6px;
    flex-shrink: 0;
    box-shadow: 0 0 0 1px var(--color-avatar-border);
}
.heading-0-0-1{
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
}

/* :root {
    --primary: hsl(245deg, 100%, 60%);
  }
  strong{
      color: hsl(245deg, 100%, 60%);
  }
  /* .header-0-0-6{
    top: 0;
    left: 0;
    padding: 32px;
    z-index: 100;
    position: fixed;
    text-align: right;
  } */
  /* .container {
    margin: 0 auto;
    padding: 96px 156px;
    float: right;
    max-width: 768px;
    transition: opacity .15s;
}
.footer-0-0-7 {
    flex-direction: row-reverse;
}

.toc-0-0-8 {
    top: 0;
    left: 0;
    float: right;
    width: calc(50vw - 464px);
    bottom: 0;
    display: flex;
    z-index: 101;
    position: fixed;
    transform: translateX(50vw);
    background: #f1f1f1;
    border-right: 1px solid #e7e7e7;
    flex-direction: column;
    padding-bottom: 64px;
  }
  body.dark-mode-animate .toc-0-0-8 {
    transition: background .3s, border-color .3s;
  }
  body.dark .toc-0-0-8 {
    background: #1f1f1f;
    border-color: #282828;
  }
@media (prefers-color-scheme: dark) {
  body:not(.dark-mode-animate) .toc-0-0-8 {
    background: #1f1f1f;
    border-color: #282828;
  }
}
@media screen and (max-width: 1200px) {
  .toc-0-0-8 {
    width: 100vw;
    transform: translateX(-110vw);
  }
}
  .toc-0-0-8.animated {
    transition: transform .3s;
  }
  .toc-0-0-8.active {
    transform: translateX(0);
  }
  .toc-0-0-8 p {
    margin: 0;
  }
  .toc-0-0-8 a {
    border: 1px solid transparent;
    display: block;
    padding: 8px;
    margin-left: -8px;
    border-right: none;
    margin-right: 1px;
    border-radius: 3px;
    text-decoration: none;
  }
  body.dark-mode-animate .toc-0-0-8 a {
    transition: border-color .3s, background .3s;
  }
  .toc-0-0-8 a:hover {
    background: #f5f5f5;
    text-decoration: none;
  }
  .toc-0-0-8 a.current {
    background: #f5f5f5;
    border-color: #e7e7e7;
    margin-right: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  body.dark .toc-0-0-8 a.current {
    background: hsl(0, 0%, 13.2%);
    border-color: #282828;
  }
@media (prefers-color-scheme: dark) {
  body:not(.dark-mode-animate) .toc-0-0-8 a.current {
    background: #212121;
    border-color: #282828;
  }
}
@media screen and (max-width: 1200px) {
  .toc-0-0-8 a.current {
    border-right: 1px solid;
    margin-right: -8px;
    border-radius: 3px;
  }
}
  body.dark .toc-0-0-8 a:hover {
    background: hsl(0, 0%, 13.2%);
  }
@media (prefers-color-scheme: dark) {
  body:not(.dark-mode-animate) .toc-0-0-8 a:hover {
    background: hsl(0, 0%, 13.2%);
  }
}
  body.dark-mode-animate .toc-0-0-8.animated {
    transition: transform .3s, background .3s, border-color .3s;
  } */ */
/* .toc-0-0-8{
    top: 0;
    float: right;
    right: 0;
    width: calc(50vw - 464px);
    bottom: 0;
    display: flex;
    z-index: 101;
    position: fixed;
    transform: translateX(50vw);
    background: #f1f1f1;
    border-right: 1px solid #e7e7e7;
    flex-direction: column;
    padding-bottom: 64px;
} */