.heading-0-0-1 {
  cursor: pointer;
  position: relative;
}
.anchor-0-0-2 {
  top: 0;
  left: -32px;
  bottom: 0;
  display: flex;
  opacity: 0;
  position: absolute;
  transform: translateX(-8px);
  transition: opacity .1s, transform .1s;
  align-items: center;
  padding-right: 8px;
}
.heading-0-0-1:hover .anchor-0-0-2 {
  opacity: 0.5;
  transform: none;
}
@media screen and (max-width: 1200px) {
  .anchor-0-0-2 {
    display: none;
  }
}
  .heading-0-0-1:hover .anchor-0-0-2:hover {
    opacity: 1;
  }
  .collapse-0-0-3>.label {
    cursor: pointer;
    margin: 8px 0;
    display: flex;
    align-items: center;
    user-select: none;
  }
  .collapse-0-0-3>.content {
    opacity: 0;
    max-height: 0;
    transition: opacity .3s;
    visibility: hidden;
    border-left: 2px solid rgba(224, 224, 224, 0.5);
    padding-left: 16px;
  }
  .collapse-0-0-3.open>.content {
    opacity: 1;
    max-height: none;
    visibility: visible;
  }
  .collapse-0-0-3.open>.label .icon-font {
    transform: rotate(90deg);
  }
  body.dark-mode-animate .collapse-0-0-3>.content {
    transition: transform .15s, opacity .15s, border-color .3s;
  }
  body.dark .collapse-0-0-3>.content {
    border-color: rgba(49, 49, 49, 0.5);
  }
@media (prefers-color-scheme: dark) {
  body:not(.dark-mode-animate) .collapse-0-0-3>.content {
    border-color: rgba(49, 49, 49, 0.5);
  }
}
  .collapse-0-0-3>.label .text {
    flex-grow: 1;
  }
  .collapse-0-0-3>.label .icon-font {
    margin-right: 32px;
  }
  .collapse-0-0-3>.label:hover {
    color: hsl(245deg, 100%, 60%);
    transition: color .15s;
  }
  body.dark .collapse-0-0-3>.label:hover {
    color: hsl(245deg, 100%, 60%);
  }
@media (prefers-color-scheme: dark) {
  body:not(.dark-mode-animate) .collapse-0-0-3>.label:hover {
    color: hsl(245deg, 100%, 60%);
  }
}
  body.dark-mode-animate .collapse-0-0-3>.label .icon-font {
    transition: transform .15s;
  }
  .button-0-0-4 {
    color: white;
    border: 2px solid hsl(245deg, 100%, 60%);
    cursor: pointer;
    height: 40px;
    margin: 8px;
    display: inline-flex;
    outline: none;
    padding: 4px 16px;
    font-size: 16px;
    min-width: 96px;
    background: hsl(245deg, 100%, 60%);
    align-items: center;
    margin-right: 0;
    border-radius: 3px;
    vertical-align: middle;
    justify-content: center;
    text-decoration: none;
  }
  body.dark-mode-animate .button-0-0-4 {
    transition: background .15s, color .15s, border-color .15s;
  }
  .button-0-0-4.icon {
    width: 40px;
    padding: 0;
    font-size: 24px;
    min-width: 0;
  }
  .button-0-0-4[disabled] {
    color: #f5f5f5;
    border: rgba(66, 66, 66, 0.35);
    background: rgba(66, 66, 66, 0.35);
  }
  body.dark .button-0-0-4 {
    color: white;
    background: hsl(245deg, 100%, 60%);
    border-color: hsl(245deg, 100%, 60%);
  }
@media (prefers-color-scheme: dark) {
  body:not(.dark-mode-animate) .button-0-0-4 {
    color: white;
    background: hsl(245deg, 100%, 60%);
    border-color: hsl(245deg, 100%, 60%);
  }
  body:not(.dark-mode-animate) .button-0-0-4[disabled] {
    color: #212121;
    border: rgba(238, 238, 238, 0.35);
    background: rgba(238, 238, 238, 0.35);
  }
}
  .button-0-0-4:hover:not([disabled]) {
    color: hsl(245deg, 100%, 60%);
    background: transparent;
    text-decoration: none;
  }
  body.dark .button-0-0-4:hover:not([disabled]) {
    color: hsl(245deg, 100%, 60%);
    background: transparent;
  }
@media (prefers-color-scheme: dark) {
  body:not(.dark-mode-animate) .button-0-0-4:hover:not([disabled]) {
    color: hsl(245deg, 100%, 60%);
    background: transparent;
  }
}
  body.dark .button-0-0-4[disabled] {
    color: #212121;
    border: rgba(238, 238, 238, 0.35);
    background: rgba(238, 238, 238, 0.35);
  }
a.button-0-0-4 {
  height: 28px;
}
a.button-0-0-4.icon {
  width: 36px;
  height: 36px;
}
  .watermark-0-0-5 {
    color: #424242;
    cursor: pointer;
    display: inline-block;
    opacity: 0.2;
    font-size: 8px;
    transition: opacity .15s;
    text-decoration: none !important;
  }
  body.dark-mode-animate .watermark-0-0-5 {
    transition: opacity .15s, color .3s;
  }
  .watermark-0-0-5:hover {
    opacity: 1;
    text-decoration: none;
  }
@media (prefers-color-scheme: dark) {
  body:not(.dark-mode-animate) .watermark-0-0-5 {
    color: #eeeeee;
  }
}
  body.dark .watermark-0-0-5 {
    color: #eeeeee;
  }
  .watermark-0-0-5 svg {
    width: 2.8rem;
    display: block;
    margin-top: .25rem;
  }
  .watermark-0-0-5 svg g {
    fill: #424242;
  }
  body.dark-mode-animate .watermark-0-0-5 svg g {
    transition: fill .3s;
  }
  body.dark .watermark-0-0-5 svg g {
    fill: #eeeeee;
  }
@media (prefers-color-scheme: dark) {
  body:not(.dark-mode-animate) .watermark-0-0-5 svg g {
    fill: #eeeeee;
  }
}
  .header-0-0-6 {
    top: 0;
    right: 0;
    padding: 32px;
    z-index: 100;
    position: fixed;
    text-align: right;
  }
  .footer-0-0-7 {
    left: 0;
    right: 0;
    bottom: 0;
    height: 64px;
    display: flex;
    z-index: 102;
    position: fixed;
    background: rgba(245, 245, 245, 0.85);
    box-shadow: 0 -2px 6px rgba(0, 0, 0, .03);
    align-items: center;
    backdrop-filter: blur(12px);
    justify-content: center;
    -webkit-backdrop-filter: blur(12px);
  }
  body.dark-mode-animate .footer-0-0-7 {
    transition: background .3s;
  }
@media (prefers-color-scheme: dark) {
  body:not(.dark-mode-animate) .footer-0-0-7 {
    background: rgba(33, 33, 33, 0.85);
  }
}
  body.dark .footer-0-0-7 {
    background: rgba(33, 33, 33, 0.85);
  }
  .footer-0-0-7 .main {
    overflow: hidden;
    flex-grow: 1;
    text-align: center;
  }
  .footer-0-0-7 .left {
    padding-left: 32px;
  }
  .footer-0-0-7 .right {
    padding-right: 32px;
  }
@media screen and (max-width: 800px) {
  .footer-0-0-7 .left {
    padding-left: 16px;
  }
  .footer-0-0-7 .right {
    padding-right: 16px;
  }
}
  .footer-0-0-7 .main>.inside {
    display: inline-flex;
    overflow: auto;
    max-width: 100%;
    align-items: center;
  }
  .footer-0-0-7 .main>.inside hr {
    width: 2px;
    border: none;
    height: 16px;
    margin: 16px;
    background: #e0e0e0;
  }
  .footer-0-0-7 .main>.inside a {
    text-decoration: none;
  }
  .footer-0-0-7 .main>.inside a:hover {
    text-decoration: underline ;
  }
  body.dark-mode-animate .footer-0-0-7 .main>.inside hr {
    transition: background .3s;
  }
  body.dark .footer-0-0-7 .main>.inside hr {
    background: #313131;
  }
@media (prefers-color-scheme: dark) {
  body:not(.dark-mode-animate) .footer-0-0-7 .main>.inside hr {
    background: #313131;
  }
}
  .toc-0-0-8 {
    top: 0;
    left: 0;
    width: calc(50vw - 464px);
    bottom: 0;
    display: flex;
    z-index: 101;
    position: fixed;
    transform: translateX(-50vw);
    background: #f1f1f1;
    border-right: 1px solid #e7e7e7;
    flex-direction: column;
    padding-bottom: 64px;
  }
  body.dark-mode-animate .toc-0-0-8 {
    transition: background .3s, border-color .3s;
  }
  body.dark .toc-0-0-8 {
    background: #1f1f1f;
    border-color: #282828;
  }
@media (prefers-color-scheme: dark) {
  body:not(.dark-mode-animate) .toc-0-0-8 {
    background: #1f1f1f;
    border-color: #282828;
  }
}
@media screen and (max-width: 1200px) {
  .toc-0-0-8 {
    width: 100vw;
    transform: translateX(-110vw);
  }
}
  .toc-0-0-8.animated {
    transition: transform .3s;
  }
  .toc-0-0-8.active {
    transform: translateX(0);
  }
  .toc-0-0-8 p {
    margin: 0;
  }
  .toc-0-0-8 a {
    border: 1px solid transparent;
    display: block;
    padding: 8px;
    margin-left: -8px;
    border-right: none;
    margin-right: 1px;
    border-radius: 3px;
    text-decoration: none;
  }
  body.dark-mode-animate .toc-0-0-8 a {
    transition: border-color .3s, background .3s;
  }
  .toc-0-0-8 a:hover {
    background: #f5f5f5;
    text-decoration: none;
  }
  .toc-0-0-8 a.current {
    background: #f5f5f5;
    border-color: #e7e7e7;
    margin-right: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  body.dark .toc-0-0-8 a.current {
    background: hsl(0, 0%, 13.2%);
    border-color: #282828;
  }
@media (prefers-color-scheme: dark) {
  body:not(.dark-mode-animate) .toc-0-0-8 a.current {
    background: #212121;
    border-color: #282828;
  }
}
@media screen and (max-width: 1200px) {
  .toc-0-0-8 a.current {
    border-right: 1px solid;
    margin-right: -8px;
    border-radius: 3px;
  }
}
  body.dark .toc-0-0-8 a:hover {
    background: hsl(0, 0%, 13.2%);
  }
@media (prefers-color-scheme: dark) {
  body:not(.dark-mode-animate) .toc-0-0-8 a:hover {
    background: hsl(0, 0%, 13.2%);
  }
}
  body.dark-mode-animate .toc-0-0-8.animated {
    transition: transform .3s, background .3s, border-color .3s;
  }
  .content-0-0-9 {
    padding: 32px;
    overflow: auto;
    flex-grow: 1;
    margin-right: -1px;
    padding-right: 0;
  }
@media screen and (max-width: 1200px) {
  .content-0-0-9 {
    margin-right: 0;
    padding-right: 32px;
  }
}
  .contentnav-0-0-11 {
    right: 0;
    width: calc(50vw - 496px);
    bottom: 96px;
    overflow: auto;
    position: fixed;
    font-size: 12px;
    max-height: 45vh;
    border-left: 1px dashed #e0e0e0;
    margin-left: 64px;
    padding-left: 48px;
    scroll-behavior: initial;
  }
@media screen and (max-width: 1200px) {
  .contentnav-0-0-11 {
    display: none;
  }
}
  .contentnav-0-0-11 a {
    color: #424242;
    display: block;
    opacity: 0.2;
    text-decoration: none;
  }
@media (prefers-color-scheme: dark) {
  body:not(.dark-mode-animate) .contentnav-0-0-11 {
    border-color: #313131;
  }
  body:not(.dark-mode-animate) .contentnav-0-0-11 a {
    color: #eeeeee;
  }
  body:not(.dark-mode-animate) .contentnav-0-0-11 a:hover, body:not(.dark-mode-animate) .contentnav-0-0-11 a.active {
    color: hsl(245deg, 100%, 60%);
  }
}
  body.dark .contentnav-0-0-11 {
    border-color: #313131;
  }
  body.dark .contentnav-0-0-11 a {
    color: #eeeeee;
  }
  body.dark .contentnav-0-0-11 a:hover, body.dark .contentnav-0-0-11 a.active {
    color: hsl(245deg, 100%, 60%);
  }
  body.dark-mode-animate .contentnav-0-0-11 a {
    transition: color .3s, opacity .3s;
  }
  .contentnav-0-0-11 a:hover, .contentnav-0-0-11 a.active {
    color: hsl(245deg, 100%, 60%);
    opacity: 1;
  }
  .contentnav-0-0-11 a.h2 {
    margin-left: 12px;
  }
  .contentnav-0-0-11 a.h3 {
    margin-left: 24px;
  }
  .contentnav-0-0-11 a.h4 {
    margin-left: 36px;
  }
  .contentnav-0-0-11 a.h5 {
    margin-left: 48px;
  }
  .contentnav-0-0-11 a.h6 {
    margin-left: 60px;
  }
* {
  touch-action: manipulation;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
}
body {
  color: #424242;
  width: 100vw;
  margin: 0;
  padding: 0;
  background: #f5f5f5;
  overflow-x: hidden;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}
body.dark-mode-animate {
  transition: color .3s, background .3s;
}
a {
  color: hsl(245deg, 100%, 60%);
}
a:hover {
  text-decoration: underline;
  text-decoration-thickness: 2px;
}
body.dark-mode-animate a {
  transition: color .3s;
}
@media (prefers-color-scheme: dark) {
  body:not(.dark-mode-animate) a {
    color: hsl(245deg, 100%, 60%);
  }
}
body.dark a {
  color: hsl(245deg, 100%, 60%);
}
.container {
  margin: 0 auto;
  padding: 96px 16px;
  max-width: 768px;
  transition: opacity .15s;
}
table {
  margin: 0 auto;
  overflow: auto;
  max-width: 100%;
  min-width: 400px;
  table-layout: fixed;
  border-collapse: collapse;
}
table th, table td {
  padding: 8px 16px;
  text-align: left;
}
table th {
  border-bottom: 1px solid #C8C8C8;
}
table td {
  border-bottom: 1px solid #e0e0e0;
}
table tr:nth-child(even) {
  background: #eeeeee;
  border-radius: 3px;
}
table tr:last-child > td {
  border-bottom: none;
}
body.dark table tr:nth-child(even) {
  background: #282828;
}
@media (prefers-color-scheme: dark) {
  body:not(.dark-mode-animate) table tr:nth-child(even) {
    background: #282828;
  }
}
body.dark-mode-animate table tr:nth-child(even) {
  transition: background .3s;
}
body.dark table td {
  border-color: #313131;
}
@media (prefers-color-scheme: dark) {
  body:not(.dark-mode-animate) table td {
    border-color: #313131;
  }
}
body.dark table th {
  border-color: #4D4D4D;
}
@media (prefers-color-scheme: dark) {
  body:not(.dark-mode-animate) table th {
    border-color: #4D4D4D;
  }
}
body.dark-mode-animate table th, body.dark-mode-animate table td {
  transition: border-color .3s;
}
hr {
  border: none;
  margin: 64px;
  background: none;
  border-top: 1px solid #e0e0e0;
}
body.dark-mode-animate hr {
  transition: border-color .3s;
}
body.dark hr {
  border-color: #313131;
}
@media (prefers-color-scheme: dark) {
  body:not(.dark-mode-animate) hr {
    border-color: #313131;
  }
}
#-codedoc-toc hr {
  margin: 16px 0;
  margin-right: 32px;
}
blockquote {
  color: #757575;
  margin: 0;
  padding: 16px 40px;
  position: relative;
  background: #eeeeee;
  border-radius: 3px;
}
body.dark-mode-animate blockquote {
  transition: color .3s, background .3s;
}
blockquote:after {
  top: 16px;
  left: 16px;
  width: 8px;
  bottom: 16px;
  content: '';
  display: block;
  position: absolute;
  background: radial-gradient(circle at center, #e0e0e0 50%, transparent 52%),transparent;
  background-size: 4px 4px;
}
body.dark-mode-animate blockquote:after {
  transition: color .3s, background .3s;
}
@media (prefers-color-scheme: dark) {
  body:not(.dark-mode-animate) {
    color: #eeeeee;
    background: #212121;
  }
  body:not(.dark-mode-animate) blockquote {
    color: #cacaca;
    background: #282828;
  }
  body:not(.dark-mode-animate) blockquote:after {
    background: radial-gradient(circle at center, #363636 50%, transparent 52%),transparent;
    background-size: 4px 4px;
  }
}
body.dark {
  color: #eeeeee;
  background: #212121;
}
body.dark blockquote {
  color: #cacaca;
  background: #282828;
}
body.dark blockquote:after {
  background: radial-gradient(circle at center, #363636 50%, transparent 52%),transparent;
  background-size: 4px 4px;
}
img {
  max-width: 100%;
}
iframe {
  width: 100%;
  border: none;
  background: white;
  border-radius: 3px;
}
code {
  color: #616161;
  padding: 4px;
  font-size: .85em;
  background: #eeeeee;
  border-radius: 3px;
}
body.dark-mode-animate code {
  transition: color .3s, background .3s;
}
body.dark code {
  color: #e0e0e0;
  background: #282828;
}
@media (prefers-color-scheme: dark) {
  body:not(.dark-mode-animate) code {
    color: #e0e0e0;
    background: #282828;
  }
}
  .code-0-0-12 {
    color: #e0e0e0;
    display: block;
    outline: none;
    padding: 24px 0;
    position: relative;
    font-size: 13px;
    background: #212121;
    box-shadow: 0 6px 12px rgba(0, 0, 0, .25);
    overflow-x: auto;
    user-select: none;
    border-radius: 3px;
    -webkit-user-select: none;
  }
  pre.with-bar .code-0-0-12 {
    padding-top: 0;
  }
  .code-0-0-12 .error, .code-0-0-12 .warning {
    display: inline-block;
    position: relative;
  }
  .code-0-0-12 .token.keyword {
    color: #7187ff;
  }
  .code-0-0-12 .token.string {
    color: #69f0ae;
  }
  .code-0-0-12 .token.number {
    color: #ffc400;
  }
  .code-0-0-12 .token.boolean {
    color: #ffc400;
  }
  .code-0-0-12 .token.operator {
    color: #18ffff;
  }
  .code-0-0-12 .token.function {
    color: #e0e0e0;
  }
  .code-0-0-12 .token.parameter {
    color: #e0e0e0;
  }
  .code-0-0-12 .token.comment {
    color: #757575;
  }
  .code-0-0-12 .token.tag {
    color: #ffa372;
  }
  .code-0-0-12 .token.builtin {
    color: #e0e0e0;
  }
  .code-0-0-12 .token.punctuation {
    color: #fcf7bb;
  }
  .code-0-0-12 .token.class-name {
    color: #e0e0e0;
  }
  .code-0-0-12 .token.attr-name {
    color: #f6d186;
  }
  .code-0-0-12 .token.attr-value {
    color: #69f0ae;
  }
  .code-0-0-12 .token.plain-text {
    color: #bdbdbd;
  }
  .code-0-0-12 .token.script {
    color: #e0e0e0;
  }
  .code-0-0-12 .token.placeholder {
    color: #18ffff;
  }
  .code-0-0-12 .token.selector {
    color: #ffa372;
  }
  .code-0-0-12 .token.property {
    color: #f6d186;
  }
  .code-0-0-12 .token.important {
    color: #be79df;
  }
  .code-0-0-12.scss .token.function, .code-0-0-12.css .token.function, .code-0-0-12.sass .token.function {
    color: #9aceff;
  }
  .code-0-0-12 .token.key {
    color: #f6d186;
  }
  .code-0-0-12 .error .wave {
    color: #e8505b;
  }
  .code-0-0-12 .warning .wave {
    color: #ffa931ee;
  }
@media (prefers-color-scheme: dark) {
  body:not(.dark-mode-animate) .code-0-0-12 {
    color: #e0e0e0;
    background: #000000;
    box-shadow: 0 6px 12px #121212;
  }
  body:not(.dark-mode-animate) .code-0-0-12 .token.keyword {
    color: #7187ff;
  }
  body:not(.dark-mode-animate) .code-0-0-12 .token.string {
    color: #69f0ae;
  }
  body:not(.dark-mode-animate) .code-0-0-12 .token.number {
    color: #ffc400;
  }
  body:not(.dark-mode-animate) .code-0-0-12 .token.boolean {
    color: #ffc400;
  }
  body:not(.dark-mode-animate) .code-0-0-12 .token.operator {
    color: #18ffff;
  }
  body:not(.dark-mode-animate) .code-0-0-12 .token.function {
    color: #e0e0e0;
  }
  body:not(.dark-mode-animate) .code-0-0-12 .token.parameter {
    color: #e0e0e0;
  }
  body:not(.dark-mode-animate) .code-0-0-12 .token.comment {
    color: #757575;
  }
  body:not(.dark-mode-animate) .code-0-0-12 .token.tag {
    color: #ffa372;
  }
  body:not(.dark-mode-animate) .code-0-0-12 .token.builtin {
    color: #e0e0e0;
  }
  body:not(.dark-mode-animate) .code-0-0-12 .token.punctuation {
    color: #fcf7bb;
  }
  body:not(.dark-mode-animate) .code-0-0-12 .token.class-name {
    color: #e0e0e0;
  }
  body:not(.dark-mode-animate) .code-0-0-12 .token.attr-name {
    color: #f6d186;
  }
  body:not(.dark-mode-animate) .code-0-0-12 .token.attr-value {
    color: #69f0ae;
  }
  body:not(.dark-mode-animate) .code-0-0-12 .token.plain-text {
    color: #bdbdbd;
  }
  body:not(.dark-mode-animate) .code-0-0-12 .token.script {
    color: #e0e0e0;
  }
  body:not(.dark-mode-animate) .code-0-0-12 .token.placeholder {
    color: #18ffff;
  }
  body:not(.dark-mode-animate) .code-0-0-12 .token.selector {
    color: #ffa372;
  }
  body:not(.dark-mode-animate) .code-0-0-12 .token.property {
    color: #f6d186;
  }
  body:not(.dark-mode-animate) .code-0-0-12 .token.important {
    color: #be79df;
  }
  body:not(.dark-mode-animate) .code-0-0-12.scss .token.function, body:not(.dark-mode-animate) .code-0-0-12.css .token.function, body:not(.dark-mode-animate) .code-0-0-12.sass .token.function {
    color: #9aceff;
  }
  body:not(.dark-mode-animate) .code-0-0-12 .token.key {
    color: #f6d186;
  }
  body:not(.dark-mode-animate) .code-0-0-12 .error .wave {
    color: #e8505b;
  }
  body:not(.dark-mode-animate) .code-0-0-12 .warning .wave {
    color: #ffa931ee;
  }
}
  body.dark .code-0-0-12 {
    color: #e0e0e0;
    background: #000000;
    box-shadow: 0 6px 12px #121212;
  }
  body.dark .code-0-0-12 .token.keyword {
    color: #7187ff;
  }
  body.dark .code-0-0-12 .token.string {
    color: #69f0ae;
  }
  body.dark .code-0-0-12 .token.number {
    color: #ffc400;
  }
  body.dark .code-0-0-12 .token.boolean {
    color: #ffc400;
  }
  body.dark .code-0-0-12 .token.operator {
    color: #18ffff;
  }
  body.dark .code-0-0-12 .token.function {
    color: #e0e0e0;
  }
  body.dark .code-0-0-12 .token.parameter {
    color: #e0e0e0;
  }
  body.dark .code-0-0-12 .token.comment {
    color: #757575;
  }
  body.dark .code-0-0-12 .token.tag {
    color: #ffa372;
  }
  body.dark .code-0-0-12 .token.builtin {
    color: #e0e0e0;
  }
  body.dark .code-0-0-12 .token.punctuation {
    color: #fcf7bb;
  }
  body.dark .code-0-0-12 .token.class-name {
    color: #e0e0e0;
  }
  body.dark .code-0-0-12 .token.attr-name {
    color: #f6d186;
  }
  body.dark .code-0-0-12 .token.attr-value {
    color: #69f0ae;
  }
  body.dark .code-0-0-12 .token.plain-text {
    color: #bdbdbd;
  }
  body.dark .code-0-0-12 .token.script {
    color: #e0e0e0;
  }
  body.dark .code-0-0-12 .token.placeholder {
    color: #18ffff;
  }
  body.dark .code-0-0-12 .token.selector {
    color: #ffa372;
  }
  body.dark .code-0-0-12 .token.property {
    color: #f6d186;
  }
  body.dark .code-0-0-12 .token.important {
    color: #be79df;
  }
  body.dark .code-0-0-12.scss .token.function, body.dark .code-0-0-12.css .token.function, body.dark .code-0-0-12.sass .token.function {
    color: #9aceff;
  }
  body.dark .code-0-0-12 .token.key {
    color: #f6d186;
  }
  body.dark .code-0-0-12 .error .wave {
    color: #e8505b;
  }
  body.dark .code-0-0-12 .warning .wave {
    color: #ffa931ee;
  }
  .code-0-0-12 .error .wave, .code-0-0-12 .warning .wave {
    left: 0;
    right: 0;
    bottom: -1rem;
    position: absolute;
    font-size: 1.5rem;
    font-weight: 100;
    letter-spacing: -.43rem;
  }
  .lineCounter-0-0-13 {
    left: 0;
    color: transparent;
    width: 24px;
    height: 1.25rem;
    display: inline-flex;
    position: sticky;
    font-size: 10px;
    background: #212121;
    transition: color .3s, background .3s;
    align-items: center;
    border-right: 2px solid rgba(255, 255, 255, .015);
    margin-right: 12px;
    padding-right: 12px;
    flex-direction: row-reverse;
    vertical-align: top;
  }
  .lineCounter-0-0-13.prim {
    color: #616161;
  }
  .lineCounter-0-0-13 .-codedoc-line-link {
    top: -2px;
    left: 0;
    color: #e0e0e0;
    right: 0;
    bottom: 0;
    opacity: 0;
    position: absolute;
    font-size: 12px;
    text-align: center;
    transition: opacity .15s;
  }
@media (prefers-color-scheme: dark) {
  body:not(.dark-mode-animate) .lineCounter-0-0-13 {
    background: #000000;
    border-color: rgba(255, 255, 255, .015);
  }
  body:not(.dark-mode-animate) .lineCounter-0-0-13.prim {
    color: #616161;
  }
  body:not(.dark-mode-animate) .lineCounter-0-0-13 .-codedoc-line-link {
    color: #e0e0e0;
  }
}
  body.dark .lineCounter-0-0-13 {
    background: #000000;
    border-color: rgba(255, 255, 255, .015);
  }
  body.dark .lineCounter-0-0-13.prim {
    color: #616161;
  }
  body.dark .lineCounter-0-0-13 .-codedoc-line-link {
    color: #e0e0e0;
  }
  .lineCounter-0-0-13 .-codedoc-line-link .icon-font {
    transform: scale(.75);
  }
  .termPrefix-0-0-14 {
    color: #616161;
    transition: color .3s;
    font-weight: bold;
    margin-right: 8px;
  }
  body.dark .termPrefix-0-0-14 {
    color: #616161;
  }
@media (prefers-color-scheme: dark) {
  body:not(.dark-mode-animate) .termPrefix-0-0-14 {
    color: #616161;
  }
}
  .termOutput-0-0-15 {
    color: #757575;
    display: block;
    padding: 8px;
    background: rgba(255, 255, 255, .06);
    transition: color .3s, background .3s;
    padding-left: 48px;
  }
  body.dark .termOutput-0-0-15 {
    color: #757575;
    background: rgba(255, 255, 255, .06);
  }
@media (prefers-color-scheme: dark) {
  body:not(.dark-mode-animate) .termOutput-0-0-15 {
    color: #757575;
    background: rgba(255, 255, 255, .06);
  }
}
  .termOutput-0-0-15:last-child {
    margin-bottom: -24px;
    padding-bottom: 12px;
  }
  .line-0-0-16 {
    cursor: pointer;
    height: 1.25rem;
    display: inline-block;
    min-width: 100%;
    background: transparent;
    transition: opacity .15s, color .3s, background .3s;
  }
  .has-selection .line-0-0-16:not(.selected) {
    opacity: 0.35;
    transition: opacity 3s;
  }
  .line-0-0-16.highlight {
    color: #ffffff;
    background: rgb(40, 46, 73);
  }
  .line-0-0-16.added {
    color: #ffffff;
    position: relative;
    background: #002d2d;
  }
  .line-0-0-16.removed {
    color: #ffffff;
    position: relative;
    background: #3e0c1b;
  }
  .line-0-0-16.selected .lineCounter-0-0-13 {
    border-color: #7187ff !important;
  }
  .line-0-0-16:hover, .line-0-0-16.selected {
    background: #3b3b3b;
  }
  .line-0-0-16:hover .lineCounter-0-0-13 {
    border-color: rgba(255, 255, 255, .1);
  }
  body.dark .line-0-0-16:hover .lineCounter-0-0-13 {
    border-color: rgba(255, 255, 255, .1);
  }
  .line-0-0-16:hover .lineCounter-0-0-13, .line-0-0-16.selected .lineCounter-0-0-13 {
    color: #7187ff;
    background: #3b3b3b !important;
  }
  body.dark .line-0-0-16:hover, body.dark .line-0-0-16.selected {
    background: #1a1a1a !important;
  }
  .line-0-0-16:hover .lineCounter-0-0-13:hover, .line-0-0-16.selected .lineCounter-0-0-13:hover {
    color: transparent !important;
  }
  .line-0-0-16:hover .lineCounter-0-0-13:hover .-codedoc-line-link, .line-0-0-16.selected .lineCounter-0-0-13:hover .-codedoc-line-link {
    opacity: 1;
  }
  body.dark .line-0-0-16:hover .lineCounter-0-0-13, body.dark .line-0-0-16.selected .lineCounter-0-0-13 {
    color: #7187ff;
    background: #1a1a1a !important;
  }
  body.dark .line-0-0-16.selected .lineCounter-0-0-13 {
    border-color: #7187ff !important;
  }
  .line-0-0-16.removed:before {
    top: -.05rem;
    left: 2.5rem;
    color: #ff0000;
    content: "-";
    position: absolute;
    font-size: 1rem;
    font-weight: bold;
  }
  .line-0-0-16.removed .lineCounter-0-0-13 {
    background: #3e0c1b;
  }
@media (prefers-color-scheme: dark) {
  body:not(.dark-mode-animate) .line-0-0-16.removed {
    color: #ffffff;
    background: #3e0c1b;
  }
  body:not(.dark-mode-animate) .line-0-0-16.removed:before {
    color: #ff0000;
  }
  body:not(.dark-mode-animate) .line-0-0-16.removed .lineCounter-0-0-13 {
    background: #3e0c1b;
  }
}
  body.dark .line-0-0-16.removed {
    color: #ffffff;
    background: #3e0c1b;
  }
  body.dark .line-0-0-16.removed:before {
    color: #ff0000;
  }
  body.dark .line-0-0-16.removed .lineCounter-0-0-13 {
    background: #3e0c1b;
  }
  .line-0-0-16.added:before {
    top: -.05rem;
    left: 2.5rem;
    color: #44e08a;
    content: "+";
    position: absolute;
    font-size: 1rem;
    transition: color .3s;
    font-weight: bold;
  }
  .line-0-0-16.added .lineCounter-0-0-13 {
    background: #002d2d;
  }
@media (prefers-color-scheme: dark) {
  body:not(.dark-mode-animate) .line-0-0-16.added {
    color: #ffffff;
    background: #002d2d;
  }
  body:not(.dark-mode-animate) .line-0-0-16.added:before {
    color: #44e08a;
  }
  body:not(.dark-mode-animate) .line-0-0-16.added .lineCounter-0-0-13 {
    background: #002d2d;
  }
}
  body.dark .line-0-0-16.added {
    color: #ffffff;
    background: #002d2d;
  }
  body.dark .line-0-0-16.added:before {
    color: #44e08a;
  }
  body.dark .line-0-0-16.added .lineCounter-0-0-13 {
    background: #002d2d;
  }
  .line-0-0-16.highlight .lineCounter-0-0-13 {
    background: rgb(40, 46, 73);
  }
@media (prefers-color-scheme: dark) {
  body:not(.dark-mode-animate) .line-0-0-16.highlight {
    color: #ffffff;
    background: rgb(28, 29, 48);
  }
  body:not(.dark-mode-animate) .line-0-0-16.highlight .lineCounter-0-0-13 {
    background: rgb(28, 29, 48);
  }
}
  body.dark .line-0-0-16.highlight {
    color: #ffffff;
    background: rgb(28, 29, 48);
  }
  body.dark .line-0-0-16.highlight .lineCounter-0-0-13 {
    background: rgb(28, 29, 48);
  }
  .wmbar-0-0-17 {
    left: 0;
    display: none;
    padding: 16px;
    position: sticky;
  }
  .wmbar-0-0-17>span {
    display: block;
    opacity: 0.5;
    flex-grow: 1;
    font-size: 12px;
    text-align: center;
    font-family: sans-serif;
    margin-right: 64px;
  }
  .wmbar-0-0-17>span:first-child, .wmbar-0-0-17>span:nth-child(2), .wmbar-0-0-17>span:nth-child(3) {
    width: 8px;
    height: 8px;
    opacity: 1;
    flex-grow: 0;
    margin-right: 8px;
    border-radius: 8px;
  }
  pre.with-bar .wmbar-0-0-17 {
    display: flex;
  }
  .wmbar-0-0-17>span:first-child:first-child, .wmbar-0-0-17>span:nth-child(2):first-child, .wmbar-0-0-17>span:nth-child(3):first-child {
    background: rgb(255, 95, 86);
  }
  .wmbar-0-0-17>span:first-child:nth-child(2), .wmbar-0-0-17>span:nth-child(2):nth-child(2), .wmbar-0-0-17>span:nth-child(3):nth-child(2) {
    background: rgb(255, 189, 46);
  }
  .wmbar-0-0-17>span:first-child:nth-child(3), .wmbar-0-0-17>span:nth-child(2):nth-child(3), .wmbar-0-0-17>span:nth-child(3):nth-child(3) {
    background: rgb(39, 201, 63);
  }
  .tabs-0-0-18 .selector {
    overflow: auto;
    white-space: nowrap;
    margin-bottom: -8px;
    padding-right: 24px;
    padding-bottom: 8px;
  }
  .tabs-0-0-18 .tab {
    border: 1px solid #e0e0e0;
    padding: 8px;
    border-radius: 3px;
  }
  .tabs-0-0-18 .tab.first {
    border-top-left-radius: 0;
  }
  body.dark-mode-animate .tabs-0-0-18 .tab {
    transition: border-color .3s;
  }
@media (prefers-color-scheme: dark) {
  body:not(.dark-mode-animate) .tabs-0-0-18 .tab {
    border-color: #313131;
  }
}
  body.dark .tabs-0-0-18 .tab {
    border-color: #313131;
  }
  .tabs-0-0-18 .tab:not(.selected) {
    display: none;
  }
  .tabs-0-0-18 .tab>pre:first-child {
    margin-top: 0;
  }
  .tabs-0-0-18 .tab>pre:last-child {
    margin-bottom: 0;
  }
  .tabs-0-0-18 .selector button {
    color: #424242;
    border: 1px solid #e0e0e0;
    cursor: pointer;
    margin: 0;
    opacity: 0.35;
    outline: none;
    padding: 4px 8px;
    position: relative;
    font-size: inherit;
    min-width: 96px;
    transform: scale(.9);
    background: #f5f5f5;
    font-family: inherit;
    border-radius: 8px;
    transform-origin: bottom center;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  .tabs-0-0-18 .selector button:after {
    left: 0;
    right: 0;
    bottom: -1px;
    height: 2px;
    content: ' ';
    position: absolute;
    background: #f5f5f5;
  }
  .tabs-0-0-18 .selector button:hover {
    opacity: 1;
  }
  .tabs-0-0-18 .selector button.selected {
    opacity: 1;
    transform: scale(1);
  }
  body.dark-mode-animate .tabs-0-0-18 .selector button {
    transition: background .3s, border-color .3s, color .3s, opacity .1s, transform .1s;
  }
@media (prefers-color-scheme: dark) {
  body:not(.dark-mode-animate) .tabs-0-0-18 .selector button {
    color: #eeeeee;
    background: #212121;
    border-color: #313131;
  }
  body:not(.dark-mode-animate) .tabs-0-0-18 .selector button:after {
    background: #212121;
  }
}
  body.dark .tabs-0-0-18 .selector button {
    color: #eeeeee;
    background: #212121;
    border-color: #313131;
  }
  .tabs-0-0-18 .selector button .icon-font {
    opacity: 0.5;
    font-size: 18px;
    margin-left: 16px;
    vertical-align: middle;
  }
  body.dark .tabs-0-0-18 .selector button:after {
    background: #212121;
  }
  body.dark-mode-animate .tabs-0-0-18 .selector button:after {
    transition: height .1s, bottom .1s, background .3s;
  }
  .tabs-0-0-18 .selector button.selected:after {
    bottom: -4px;
    height: 8px;
  }
  .darklight-0-0-19 {
    overflow: hidden;
    position: relative;
  }
  body.dark-mode-animate .darklight-0-0-19>.light, .darklight-0-0-19>.dark {
    transition: opacity .3s, z-index .3s;
  }
  .darklight-0-0-19>.dark {
    top: 0;
    left: 0;
    right: 0;
    opacity: 0;
    z-index: -1;
    position: absolute;
  }
  body.dark .darklight-0-0-19>.dark {
    opacity: 1;
    z-index: 1;
  }
@media (prefers-color-scheme: dark) {
  body:not(.dark-mode-animate) .darklight-0-0-19>.dark {
    opacity: 1;
    z-index: 1;
  }
}
  body.dark .darklight-0-0-19>.light {
    opacity: 0;
  }
@media (prefers-color-scheme: dark) {
  body:not(.dark-mode-animate) .darklight-0-0-19>.light {
    opacity: 0;
  }
}